.textBox {
    width: 500px;
    height: 80px;
    border: 1px dashed #ccc;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px #000;
}
.title {
    font-size: 14px;
}
.contents {
    font-size: 12px;
}